.git
**/.git

__pycache__
**/__pycache__

third-party/gitleaks.exe
third-party/hashcat/hashcat.exe

third-party/hashcat/obj
third-party/hashcat/*.log
third-party/hashcat/hashcat.dictstat2
third-party/hashcat/hashcat.hcstat2
third-party/hashcat/docker
third-party/hashcat/docs
third-party/hashcat/.github
third-party/hashcat/.appveyor.yml.old
third-party/hashcat/.travis.yml
third-party/hashcat/.editorconfig
third-party/hashcat/.gitattributes
third-party/hashcat/.gitignore
third-party/hashcat/example*
